body {
  width: 500px;
  text-align: left;
  margin: 0 auto;
  background-color: rgba(71, 177, 68, 0.582);
}
#button {
  background-color: rgba(226, 170, 97, 0.171);
  border-radius: 3px;
  color: rgb(184, 42, 17);
  font-size: 20px;
  border-style: none;
  margin-left: 450px;
  margin-top: 15px;
  cursor: pointer;
}
#button2 {
  background-color: rgba(226, 170, 97, 0.171);
  border-radius: 3px;
  color: rgb(184, 42, 17);
  font-size: 20px;
  border-style: none;
  margin-left: 450px;
  margin-top: 15px;
  margin-bottom: 0;
  cursor: pointer;
}
#button3 {
  background-color: rgba(226, 170, 97, 0.171);
  border-radius: 3px;
  color: rgb(184, 42, 17);
  font-size: 20px;
  border-style: none;
  margin-left: 450px;
  margin-top: 15px;
  cursor: pointer;
}
h3 {
  width: 60px;
  font-size: 25px;
  margin-top: 0;
  margin-right: 0;
  display: inline;
}
div .para {
  border-bottom: 1px dotted black;
}
div {
  background-color: rgba(20, 136, 59, 0.548);
  padding: 10px;
}
